/* Roboto */
@import url("https://fonts.googleapis.com/css?family=Muli:wght300,700&display=swap");
/* Muli */
/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */

* {
  box-sizing: border-box;
}

body {
  background-color: #fbfcfe;
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container {
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 40px 0;
}

.code {
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 75px;
  margin: 3px;
  height: 120px;
  width: 100px;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

code::-webkit-inner-spin-button,
code::-webkit-outer-spin-button {
  -webkit-apperance: none;
  margin: 0;
}

.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
