/* Roboto */
/* @import url("https://fonts.googleapis.com/css?Roboto:wght@400;700=Muli&display=swap"); */
/* Muli */
/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap"); */

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 1rem;
  width: 1rem;
  margin: 2px;
  transition: 1s ease;
}

.square:hover {
  transition-duration: 0s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}
